body {
    background: url('../img/bg.png') no-repeat;
    background-size: contain;
}

body#login-page {
    background: url('../img/bg-login.png') no-repeat;
    background-size: contain;
}

@media only screen and (max-width: 1024px) {
    body {
        background-size: 1024px;
    }
}

.header {
    color: #fff;
}

.footer {
    background: #f3f3f3;
    font-size: 12px;
    line-height: 32px;
}

.footer .section-footer {
    font-family: Arial;
    line-height: 40px;
    font-weight: bold;
    color: #333;
}

.footer a {
    color: #999;
}

.footer-lower {
    background: #fafafa;
}

.code-box {
    background: #eee;
    padding: 20px;
}



/* pricing */
#pay_as_you_go {
    background-color: #72e0fb;
    padding: 20px;
}

#silver {
    background-color: #c7c7c7;
    padding: 20px;
}

#gold {
    background-color: #ffcd00;
    padding: 20px;
}


#user-not-authenticated {
    position: relative;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#firebase-sign-in {
    position: relative;
}

#firebaseui-auth-container {
    position: absolute;
    width: 100%;
    min-width: 300px;
    right: 0px;
}

#user-authenticated-name {
    display: inline;
}